body {
    margin-top: 50px;
}

.toggle .option { display: none; }
.toggle .option.active { display: inline; }

.login-form-side .recover-password {
    margin-top: 10px;
}

.top-bar-container {
  height: 0 !important;
}

#searchexpando {
  display: none;
  margin: 5px 0 0 0;
}

.rank {
    display: none;
}

.btn .fa {
  margin-right: 3px;
}

.dropdown-toggle img {
  margin: -10px 5px 0 0;
}
.dropdown-toggle strong {
  margin-left: 5px;
}

.row {
  position: relative;
  margin: 0px;
}

.col-md-0 {
  float: left;
  min-height: 1px;
  padding:0;
  overflow: hidden;
  width: 0;
}

.col-fixed {
  position: fixed;
}

.main-list {
  padding: 16px 0 0 20px;
}
.tall-collapse-button {
  position: absolute;
  left: 0px; top:0px; z-index: 99;
  height:100%; width: 6px;
  cursor: pointer;
  background-attachment: fixed;
  }
  .tall-collapse-button:hover { 
    outline: 1px solid #66afe9;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 0 0 rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6); 
  }
.tall-collapse-button.open { 
  background: #eee url(../sidebar-grippy.png) right;}
.tall-collapse-button.closed { 
  background: #eee url(../sidebar-grippy.png) left;}

.midcol {
  margin: 0 10px 0 0;
}
.midcol.vote-buttons {
  float: left;
}
.midcol .score {
  width: 25px; 
}

.likes .score, .dislikes .score {
display: none;
}

.score.likes, .score.dislikes {
  display: none;
}

.dislikes div.score.dislikes {
  display: block;
}

.likes div.score.likes {
  display: block;
}



.arrow {
  width: 25px;
  cursor: pointer;
}

.expando {
  clear: both;
}

.dropdown-title.lightdrop, .dropdown.lightdrop {
  float: left;
  margin-right: 5px;
}
.drop-choices {
  display: none;
  float: left;
  }
  .drop-choices.inuse {
    display: block;
    left:0 !important; top: 0 !important;
  }

.tagline * {
  display: inline;
}

.commentarea .comment {
  margin: 10px 0 -1px 0 !important;
  border: 1px solid #eee !important;
  border-color: #e0e0e0 #e6e6e6 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
}

.flat-list {
  padding: 5px 0 0 0;
}
.flat-list.buttons li {
/*  float: left;
  padding: 0px 10px 5px 0px;*/
}

.btn-info a {
  color: white !important;
}

.child {
  margin:0 0 0 30px!important;
}

.nestedlisting>.comment .comment, 
.nestedlisting>.comment .comment .comment .comment, 
.nestedlisting>.comment .comment .comment .comment .comment .comment {
  background-color: #f9f9f6!important;
}

.nestedlisting>.comment .comment .comment, 
.nestedlisting>.comment .comment .comment .comment .comment, 
.nestedlisting>.comment .comment .comment .comment .comment .comment .comment {
  background-color: #fbfbfb!important;
}

/**** original css from mocks ****/


#left-sidebar {
  height: 100%;
  padding-top: 20px;
  }
  #left-sidebar ul {
    padding-left: 25px;
  }

h4.collapsable {
  cursor: pointer;
  }
  h4.collapsable i {
    margin-right: 5px;
  }

.navbar-nav>li.dropdown>a {
  /*padding: 6px;*/
}

.theme-amelia #item-list>li:nth-child(odd) {
  background-color: rgb(15, 127, 136);
}

.theme-slate #item-list>li:nth-child(odd) {
  background-color: rgb(53, 58, 65);
}

#item-list > li:nth-child(even) {
  background-color: #eff7fc;
}

#item-list h4.title a.label {
  padding: 3px 6px; margin-right: 5px;
  font-size: 12px;
  font-weight: normal;
}

#item-list h4, .tagline {
/*  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap; */
}

#item-list .media {
  clear: both;
  /*padding:  10px 5px 0;*/
  margin: 0px;
}
#item-list .media p {
  padding-bottom: 0;
  margin-bottom: 0;
}

#item-list .media ul, span.domain {
  float: left;
  padding: 5px 10px 0 0;
}

#item-list .media .minor {
  color: rgb(221, 221, 221);
}

#item-list .media:hover .minor {
  color: rgb(47, 164, 231);
}
#item-list .media-object {
  margin-top: 5px;
}
#item-list .media-heading {
  margin: 3px 0 0 0;
}
#item-list .media .vote-buttons {
  width: 25px;
}

#item-list .media .vote-buttons i {
  font-size: 24px;
  color: rgb(221, 221, 221);

}
#item-list ol, #item-list ul {
    list-style: none outside none;
}

#item-list .media:hover .vote-buttons i {
  color: rgb(47, 164, 231);
}

#item-list .media {
  padding: 5px; margin: 10px 0;
  border-radius: 4px;
}

/*** Post ***/
.post #item-list .media p {
  margin: 5px;
}
.media-list .media-list {
  /*margin-left: 30px;*/
}

/*** Spaces ***/
.space-icon {
  padding-bottom: 15px;
  text-align: center;
}

.space-icon img {
  margin: 10px auto;
}

.space-description {}
.space-description .description {
  max-height: 120px;
  overflow: hidden;
  padding: 5px 5px 10px 5px;
  font-size: 13px;
  line-height: 16px;
}
.space-description .meta {
  padding: 0 0 0 5px; 
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
}

.spaces-gui a {
  padding: 3px 8px !important; margin: 15px 0px 10px;
  border: 1px solid #999;
}

/*** v-grid ***/
.v-grid .media {
    float: left;
    width: 23%; height: 320px;
    margin: 5px 2% 5px 0;
    text-align: center;
    border: 2px solid black;
    }
    .v-grid .media:first-child {
      margin-top: 5px;
    }
  .v-grid .media h4  { margin: 0 auto; }
  .v-grid .media img { margin: 10px auto; }

  .v-grid .media button { margin: 5px auto;
  }

  .v-grid .media p {
    margin-top: 5px;
    text-align: left;
    }

/*** h-grid ***/
.h-grid .media {
  float: left;
  width: 48%; height: 180px;
  margin: 5px 2% 5px 0;
  border: 2px solid black;
  }
  .h-grid .media:first-child { margin-top: 5px; }
  .h-grid .media .space-icon { margin-top: 27px; }
  .h-grid .media .meta { margin-top: 10px;}

/*** nav ***/
ul.nav li.spaces-dropdown > ul.dropdown-menu a {
  padding: 1px 8px !important;
  font-size: 12px;
}
ul.nav li.spaces-dropdown:hover > ul.dropdown-menu,
ul.nav li.sort-dropdown:hover > ul.dropdown-menu {
    display: block;    
}

ul.nav .btn {
  text-shadow: none;
}

a.ping {
  padding: 16px 12px 8px 12px !important;
  }
  a.ping i {
    min-width: 20px;
    }
    a.ping i.fa-emx {
      font-size: 1.4em;
      margin: 0 7px 0 0;
    }
  a.ping span {
    display: block-inline;
  }
  a.ping .badge {
    position: absolute;
    right: 3px; top: 7px;
    width: 18px; height: 18px; min-width: 0px;
    padding: 0px;
    border-radius: 10px;
    border: none;
    font-size: 9px;
    line-height: 18px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;
  }

.spacer {
  margin-top: 10px;
}

h4.collapsable.collapsed .glyphicon-collapse-down {
  display: none;
}
h4.collapsable.collapsed .glyphicon-collapse-up {
  display: inline;
}

h4.collapsable:not(.collapsed) .glyphicon-collapse-up {
  display: none;
}
h4.collapsable:not(.collapsed) .glyphicon-collapse-down {
  display: inline;
}


/*** Right Sidebar ***/
.side {
  padding-top: 10px;
}

.spacetitlebox {

}

.spacetitlebox h2  {
  background: #ccc;
  text-transform: capitalize;
  text-align: center;
}

.usertext-body {
  padding: 10px 0 0 10px;
  }
.usertext-body p {
    margin: 10px 0 0 0;
  }

.spacetitlebox img {
  float: left;
  max-width: 40%;
  margin: 0 10px 10px 0;
}


.sidecontentbox {
  text-transform: capitalize;
}

.click-gadget .reddit-link {
  margin-bottom: 5px;
}
.click-gadget .midcol {
  margin-bottom: 5px;
}

#moresearchinfo {
  display: none;
}

/*** spaces page ***/

.listing-page .searchpane {/*
  width: 300px;
  margin: 0 auto;*/
}

/*God this is awful*/
.listing-page .nothing{
  height: 35px;
  background: none;
  border: none;
}

#item-list .media.subreddit {
  position: relative;
  float: left; clear: none;
  min-width: 250px;
  width: 30%; height: 400px;
  margin: 0 3% 3% 0;
  border: 1px solid black;
  }
  #item-list .media.subreddit .midcol {
    position: absolute;
    bottom: 10px;
  }
  #item-list .media.subreddit h3 {
    margin: 0; padding: 0;
    text-align: center;
  }
