<%!
from r2.lib.template_helpers import get_domain
from r2.lib.utils import timesince, truncate_html_words
from r2.lib.filters import safemarkdown, unsafe
import datetime
from r2.models import Account, Frontpage, Subreddit, Thing, Link, Comment
from pylons.i18n import _

domain = get_domain(subreddit=False)

%>
<%namespace file="utils.html" import="plain_link, thing_timestamp, edited" />

<html>
<head>
  <meta charset="utf-8"/>
</head>
<body class="listing-page active-page" style="margin: 0;padding: 0;font: normal x-small verdana, arial, helvetica, sans-serif;background-color: #f1f1f1;z-index: 1;position: relative;color: #333;font-weight: normal;font-style: normal;font-variant: normal;font-family: sans-serif;line-height: 1.4">

  <%
  
    if link.is_self:
      link_absolute_url = "http://%s%s" % (domain, link.url,)
    else:
      link.absolute_url = link.url
      
    link_author_absolute_url = "http://%s/u/%s" % (domain, link.author_slow.name,)
    link_absolute_url = "http://%s%s" % (domain, link.make_permalink_slow(),)

    comments = Comment._query(
      Comment.c.link_id == link._id
      )
    comment_count = sum(1 for c in comments if not c._deleted)

    if comment_count == 1:
      comment_label = "1 comment"
    else:
      comment_label = "%s comments" % (comment_count,)
  
    comment_author_absolute_url = "http://%s/u/%s" % (domain, comment.author_slow.name,)
    comment_absolute_url = "http://%s%s" % (domain, comment.make_permalink_slow(),)

    space_absolute_url = "http://%s/space/%s" % (domain, link.subreddit_slow.name,)

    if comment.body:
      body = unsafe(safemarkdown(comment.body, wrap=False))

    preferences_absolute_url = "http://%s%s" % (domain, '/prefs/')  

  %>
  
<div style="padding:0">&nbsp;&#8291;&nbsp;</div>
  
<div class="content" role="main" style="margin: 7px 5px 0 5px;padding: 0;z-index: 1;border: 0 none;background-color: transparent;box-shadow: none">

  <div style="margin: 0;padding: 8px 0 9px;padding-left: 3px;border-color: #fbf9f4;background-color: #FFFFFF;box-shadow: 0 1px 4px 0 #ccc;background-image: -webkit-linear-gradient(left, #fefefe, #fbfbfb);border-top-width: 0 !important">
    <div class="entry " style="margin: 1px 5px 1px 0;padding: 5px 0 5px 5px;overflow: hidden;margin-left: 3px;opacity: 1">
      <p class="title" style="margin: 0;padding: 0;margin-right: 0.4em;overflow: hidden;font-weight: normal;margin-bottom: 2px !important;text-shadow: 0 1px 0 #ececec;margin-top: 2px !important;font-style: normal;font-variant: normal;word-spacing: -1px">
        <a class="title" href="${link_absolute_url}" style="font-size: medium; color: #015dcc; text-decoration: none;color: #015dcc;margin-right: 0.4em;padding: 0;overflow: hidden;font-size: medium;font-weight: normal;margin-bottom: 2px !important;text-shadow: 0 1px 0 #ececec;margin-top: 2px !important;font-style: normal;font-variant: normal;word-spacing: -1px">Re: ${link.title}</a> 
        started by <a href="${link_author_absolute_url}" style="text-decoration: none;color: #789AC4;">${link.author_slow.name}</a>
        in <a href="${space_absolute_url}" class="subreddit hover" style="text-decoration: none;color: #789AC4;margin-bottom: 10px">${link.subreddit_slow.name}</a>
      </p>
      
      <ul class="flat-list buttons" style="margin: 0;padding: 1px 0;list-style: none;list-style-type: none;display: inline-block;font-size: 11px">  
        <li class="first" style="margin: 0;padding: 0;display: inline;white-space: nowrap;border: none;padding-right: 4px">
          <a class="comments" href="${link_absolute_url}" style="text-decoration: none;color: #789AC4;font-weight: bold;padding: 0 1px">${comment_label}</a>
        </li>
      </ul>
      
      
      <p class="tagline" style="margin: 0;padding: 0;color: #555;font-size: 11px"> 
        <a href="${comment_author_absolute_url}" style="text-decoration: none;color: #789AC4;">${comment.author_slow.name}</a>
        ${thing_timestamp(comment, timesince(comment._date))} ago
      </p>
      <p>${body}</p>
      <p><a href="${comment_absolute_url}" style="text-decoration: none;color: #789AC4;">Read in Context or Reply on Lightnet</a></p>
    </div>
  </div>


  <div class="clearleft" style="margin: 0;padding: 0;clear: left;height: 0">
  <!--IE6sux-->
  </div>

</div>

% if whysend == 'space':
<div style="padding: 2px 0 2px 7px">You're set to receive all new comments in this space by email. Change your setting <a href="${space_absolute_url}">here</a></div>
% elif whysend == 'thread':
<div style="padding: 2px 0 2px 7px">You're set to receive new comments in this thread by email. Change your setting <a href="${link_absolute_url}">here</a></div>
% endif
  
</body>
</html>