## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2013
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
   from r2.lib.template_helpers import add_sr
   from r2.lib.strings import strings
   from r2.lib.utils import UrlParser
   import random
 %>
<%namespace file="captcha.html" import="captchagen"/>
<%namespace file="utils.html" import="error_field, plain_link, img_link"/>

## default content 
%if c.user_is_loggedin:
  <p class="error">${_("you are logged in. go use the site!")}</p>

%else:
  <div class="login-form-section divide register">
    <h3>${_("create a new account")}</h3>
    <p class="tagline">
      ${_("all it takes is your name, email, and a password")}
    </p>
    %if thing.registration_info:
      <div class="registration-info">
        ${thing.registration_info}
      </div>
    %endif
    ${register_form(user = thing.user_reg, dest = thing.dest)}
  </div>
  <div class="login-form-section login">
    <h3>${_("login")}</h3>
    <p class="tagline">
      ${_("already have an account and just want to login?")}
    </p>
    ${login_form(user = thing.user_login, dest = thing.dest)}
  </div>
  <div class="clear"></div>

  %if not thing.is_popup and not g.disable_captcha:
  <script type="text/javascript">
    $.request("new_captcha");
  </script>
  %endif
%endif

<%def name="register_form(user='', dest='')">
  <%
    base = g.https_endpoint if not c.cname else ''
  %>
  <form id="login_reg" method="post"
        action="${add_sr(base + '/post/reg', nocname=not c.authorized_cname)}"
        class="user-form register-form form-horizontal"
        role="form">
    %if c.cname:
       <input type="hidden" name="${UrlParser.cname_get}" 
              value="${random.random()}" />
    %endif
    <input type="hidden" name="op" value="reg" />
    %if dest:
      <input type="hidden" name="dest" value="${dest}" />
    %endif
    <div class="form-group">
      <div class="form-group">
        <label for="user_reg_first_name" class="col-sm-4 control-label">Full Name:</label>
        <div class="col-sm-3">
          <input value="${first_name}" name="first_name" id="user_reg_first_name" class="form-control"
                 type="text" maxlength="40" tabindex="3" autofocus  />
        </div>
        <div class="col-sm-3">
          <input value="${last_name}" name="last_name" id="user_reg_last_name" class="form-control"
                 type="text" maxlength="40" tabindex="3" autofocus  />
        </div>
      </div>
      <div class="form-group">
        <label for="realnameID" class="col-sm-4 control-label">Username:</label>
        <div class="realname_area">
          <div class="col-sm-6">
            <input value="Automatically created from your name" class="form-control" id="realnameID" type="text" maxlength="40" tabindex="3" disabled />
          </div>
          <!-- <span id="realnameID" class="realname">&nbsp;</span> -->
          <span class="throbber"></span>
          <!-- <span class="notice-taken label label-danger">${_('try another')}</span>
          <span class="notice-available label label-success">${_('available!')}</span> -->
          ${error_field("BAD_USERNAME", "user", kind="span")}
          ${error_field("USERNAME_TAKEN", "user", kind="span")}
          ${error_field("USERNAME_TAKEN_DEL", "user", kind="span")}
        </div>
      </div>
      <div class="form-group">
        <label for="email_reg" class="col-sm-4 control-label">Email:</label>
        <div class="col-sm-6">
          <input value="" name="email" id="email_reg" class="form-control" type="email" maxlength="50" tabindex="3"/>
        </div>
        ${error_field("BAD_EMAIL", "email", kind="span")}
        ${error_field("EMAIL_TAKEN", "email", kind="span")}
      </div>
      <div class="form-group">
        <label for="passwd_reg" class="col-sm-4 control-label">Password:</label>
        <div class="col-sm-6">
          <input id="passwd_reg" name="passwd" type="password" class="form-control"
                 tabindex="3"/>
        </div>
        ${error_field("BAD_PASSWORD", "passwd", kind="span")}
      </div>
      <div class="form-group">
        <label for="passwd2_reg" class="col-sm-4 control-label">Verfify Password:</label>
        <div class="col-sm-6">
          <input id="passwd2_reg" name="passwd2" type="password" class="form-control"
                 tabindex="3"/>
        </div>
        ${error_field("BAD_PASSWORD_MATCH", "passwd2", kind="span")}
      </div>

        <li>
          %if not g.disable_captcha:
          <% iden = hasattr(thing, "captcha") and thing.captcha.iden or '' %>
          ${captchagen(iden, tabulate=True, label=False, size=30, tabindex=3)}
          %endif
          ${error_field("RATELIMIT", "ratelimit")}
          ${error_field("RATELIMIT", "vdelay")}
        </li>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="rem" id="rem_reg" tabindex="3" > Remember me
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
          <button type="submit" class="btn btn-primary" tabindex="3">Create Account</button>
        </div>
        <span class="throbber"></span>
        <span class="status"></span>
      </div>
    </div>
  </form>
</%def>


<%def name="login_form(user='', dest='')">
  <%
    base = g.https_endpoint if not c.cname else ''
  %>
  <form id="login_login" method="post"
        action="${add_sr(base + '/post/login', nocname=not c.authorized_cname)}"
        class="user-form login-form form-horizontal"
        role="form">
    %if c.cname:
       <input type="hidden" name="${UrlParser.cname_get}" value="${random.random()}" />
    %endif
    <input type="hidden" name="op" value="login" />
    %if dest:
      <input type="hidden" name="dest" value="${dest}" />
    %endif

    <div class="form-group">
      <label for="user_login" class="col-sm-4 control-label">Email:</label>
      <div class="col-sm-6">
        <input value="${user}" name="email" id="user_login" class="form-control" 
                 type="text" maxlength="50" tabindex="2" autofocus />
      </div>
      ${error_field("WRONG_PASSWORD", "passwd", kind="span")}
    </div>

    <div class="form-group">
      <label for="passwd_login" class="col-sm-4 control-label">Password:</label>
      <div class="col-sm-6">
        <input id="passwd_login" name="passwd" type="password" class="form-control"
               tabindex="2"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="rem" id="rem_login" tabindex="2" > Remember me
          </label>
        </div>
        <a class="recover-password" href="/password">
          ${_("recover password")}
        </a>
      </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
          <button type="submit" class="btn btn-primary" tabindex="2">Login</button>
        </div>
        <span class="throbber"></span>
        <span class="status"></span>
    </div>

  </form>
</%def>
