## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2013
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
   from r2.lib.strings import strings
   from r2.lib.pages import UserText
   from r2.lib.template_helpers import add_sr
%>

<%namespace file="utils.html" import="error_field, submit_form, _a_buffered, reddit_selector, text_with_links"/>
<%namespace name="utils" file="utils.html"/>

<%utils:submit_form onsubmit="return post_form(this, 'submit', linkstatus, null, true)" 
                    action=${add_sr("/submit")},
                    _class="submit content form-horizontal",
                    _id="newlink">

<div class="formtabs-content">

<%
  if thing.kind == 'link':
    textarea_title = _('Excerpt or Summary')
    infobar_text = strings.submit_link
  else:
    textarea_title = _('text')
    infobar_text = strings.submit_text
%>

<div class="form-group">
  <%
    if thing.default_sr:
      sr = "&#32;" + _a_buffered(thing.default_sr.name, href=thing.default_sr.path)
    else:
      sr = _("Lightnet")
  %>
  <div class="infobar col-sm-10 col-sm-offset-2">
    <h2>${unsafe(_("Submit to %(sr)s") % dict(sr=sr))}</h2>
    ${infobar_text}
  </div>
</div>

<%utils:round_field title="${_('Title')}" id="title-field">
  <input class="form-control" name="title" type="text" required>${thing.title}</input>
  ${error_field("NO_TEXT", "title", "div")}
  ${error_field("TOO_LONG", "title", "div")}
</%utils:round_field>

%if thing.kind == 'link':
  <%utils:round_field title="${_('URL')}"" id="url-field">
    <div class="input-group">
      <input class="form-control" id="url" name="url" type="url" value="${thing.url}" required>
      <span class="input-group-btn">
      <button class="btn btn-default" type="button" tabindex="100" onclick="fetch_title()">${_("Suggest Title")}</button>
      </span>
    </div>

    <div id="suggest-title">
      <span class="title-status"></span>
      ${error_field("NO_URL", "url", "span")}
      ${error_field("BAD_URL", "url", "span")}
      ${error_field("DOMAIN_BANNED", "url", "span")}
      ${error_field("ALREADY_SUB", "url", "span")}
      ${error_field("NO_LINKS", "sr")}
      ${error_field("NO_SELFS", "sr")}
    </div>
  </%utils:round_field>
%endif

<input name="kind" value="${thing.kind}" type="hidden"/>
<%utils:round_field title="${textarea_title}" description="${_('(optional)')}">
  ${UserText(None, text = thing.text, have_form = False, creating = True, extra_css = 'atnamepicker')}
  ${error_field("NO_SELFS", "sr")}
</%utils:round_field>

<%utils:round_field title="${_('Choose a Space')}" id="reddit-field">
  %if False:
  ${reddit_selector(thing.default_sr.name if thing.default_sr else None, thing.sr_searches, thing.spaces, required=True)}
  %else:
  <input type="text" name="sr" class="spacenamepicker form-control" />
  %endif
</%utils:round_field>

%if c.user.gold:
  <%utils:round_field title="${_('Options')}" css_class="gold-accent">
    <div class="checkbox">
      <label for="sendreplies">
        <input class="nomargin" type="checkbox" checked="checked" name="sendreplies" id="sendreplies" data-send-checked="true"/>
          ${_("Send replies to my inbox")}
      </label>
    </div>
  </%utils:round_field>
%endif

${thing.captcha}
    
</div>

<input name="resubmit" value="${thing.resubmit}" type="hidden"/>
<div class="roundfield info-notice col-sm-10 col-sm-offset-2" title="${_('why a brick? read to the bottom of the rules page to find out!')}">

  ${text_with_links(_("Please be mindful of lightnet's %(few_rules)s and practice %(good_reddiquette)s."),
      few_rules=dict(
        link_text=_("few rules"),
        path="/rules",
        target="_blank"),
      good_reddiquette=dict(
        link_text=_("good lightnet etiquette"),
        path="/wiki/etiquette",
        target="_blank"),
  )}
</div>

<div class="col-sm-10 col-sm-offset-2">
  <button class="btn btn-primary" name="submit" value="form" type="submit">${_("Submit")}</button>
  <span class="status"></span>
  ${error_field("RATELIMIT", "ratelimit")}
  ${error_field("INVALID_OPTION", "sr")}
</div>

</%utils:submit_form>

