## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2013
## reddit Inc. All Rights Reserved.
###############################################################################

<%namespace file="utils.html" import="error_field"/>
<%namespace file="captcha.html" import="captchagen"/>

<form onsubmit="return post_form(this, 'notify')" method="post"
      id="notifylink_${thing.link_name}"
      class="pretty-form notifylink" action="/post/notify"
     ${"" if thing.link_name else "style='display:none'"}>
  <div class="clearleft"><!--IEsux--></div>
    ${error_field("RATELIMIT", "ratelimit")}
    <input type="hidden" name="parent" value="${thing.link_name}"/>
    <table class="sharetable preftable">
      <tr class="">
        <th>
          <label for="notify_to_${thing.link_name}">
            ${_("notify people of this post")}
          </label>
        </th>
        <td>
          <textarea id="notify_to_${thing.link_name}" 
                    name="notify_to" rows="1" cols="80" style="width:500px">
            ${unsafe('&#x0D;&#x0A;'.join(websafe(e) for e in thing.emails))}
          </textarea>
        </td>
        <td class="notify-to-errors">
          ${error_field("BAD_EMAILS", "notify_to")}
          ${error_field("TOO_MANY_EMAILS", "notify_to")}
          ${error_field("NO_EMAILS", "notify_to")}
        </td>
      </tr>
      %if thing.captcha:
        ${captchagen('', tabulate = False, size = 30)}
      %endif
      <tr>
        <td>
        </td>
        <td>
          <button type="submit" class="btn">
            ${_("notify")}
          </button>
          <button class="btn" 
                  onclick="return cancelNotify(this);">
            ${_("cancel")}
          </button>
          <span class="status error"></span>
        </td>
        <td>
        </td>
      </tr>
    </table>
</form>
