<%! 
   from r2.lib.filters import unsafe, safemarkdown
   from r2.lib.template_helpers import static, format_number
%>

<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <h1>
        ${thing.user.first_name if hasattr(thing.user,'first_name') else ''} ${thing.user.last_name if hasattr(thing.user,'last_name') else ''}

        % if c.user_is_loggedin and c.user == thing.user: 
          <a class="btn btn-xs btn-warning" href="/prefs/profedit/">Edit Profile</a> 
        %endif
      </h1>
      <img src="${thing.user.image_source}">
    </div>
  </div>

  <div class="form-group">    
    <label for="city" class="col-sm-2 control-label">${_("City")}</label>
    <div class="col-sm-10">
      ${thing.user.city if hasattr(thing.user,'city') else ''}
    </div>
  </div>

  <div class="form-group">    
    <label for="city" class="col-sm-2 control-label">${_("Country")}</label>
    <div class="col-sm-10">
      ${thing.user.country_name if hasattr(thing.user,'country_name') else ''}
    </div>
  </div>

  <div class="form-group">    
    <label for="city" class="col-sm-2 control-label">${_("About Me")}</label>
    <div class="col-sm-10">
      ${unsafe(safemarkdown(thing.user.me_short)) if hasattr(thing.user,'me_short') else ''}
    </div>
  </div>

  <div class="form-group">    
    <label for="city" class="col-sm-2 control-label">${_("Bio")}</label>
    <div class="col-sm-10">
      ${unsafe(safemarkdown(thing.user.me_long)) if hasattr(thing.user,'me_long') else ''}
    </div>
  </div>

  <div class="form-group">    
    <label for="city" class="col-sm-2 control-label">${_("Links")}</label>
    <div class="col-sm-10">
      ${unsafe(safemarkdown(thing.user.me_links)) if hasattr(thing.user,'me_links') else ''}
    </div>
  </div>
</div>