## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2013
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
   from r2.lib.filters import safemarkdown
%>
<%namespace file="utils.html" import="error_field"/>
<%namespace name="utils" file="utils.html"/>



<form action="/post/profupdate" method="post" onsubmit="return post_this(this)" id="prof-update" class="form-horizontal">

  <div class="form-group">
    <h1 class="col-sm-10 col-sm-offset-2">${_("Profile")}</h1>
  </div>

  <div class="form-group">
    <label for="test[image]" class="col-sm-2 control-label">
      Photo
    </label>
    <div class="bootstrap col-sm-10">
      <span class="little gray">
        ${_('Please select a recent photo which clearly shows your face.')}
      </span>
      <input id="profile_picture" type="hidden" name="test[image]">
    </div>
  </div>

  <div class="form-group">
    <label for="first_name" class="col-sm-2 control-label">${_("First Name")}</label>
    <div class="col-sm-10">
      <input name="first_name" class="form-control" id="first_name" type="text" value="${c.user.first_name if hasattr(c.user,'first_name') else ''}" />
    </div>
  </div>

  <div class="form-group">
    <label for="last_name" class="col-sm-2 control-label">${_("Last Name")}</label>
    <div class="col-sm-10">
      <input name="last_name" class="form-control" id="last_name" type="text" value="${c.user.last_name if hasattr(c.user,'last_name') else ''}" />
    </div>
  </div>

  <div class="form-group">
    <label for="country_code" class="col-sm-2 control-label">${_("Country")}</label>
    <div class="col-sm-10">
      <%utils:country_select country_code="${c.user.country_code if hasattr(c.user,'country_code') else ''}" />
    </div>
  </div>

  <div class="form-group">    
    <label for="city" class="col-sm-2 control-label">${_("City")}</label>
    <div class="col-sm-10">
      <input name="city" class="form-control" id="city" type="text" value="${c.user.city if hasattr(c.user,'city') else ''}" />
    </div>
  </div>

  <div class="form-group">    
    <label for="me_short" class="col-sm-2 control-label">
      ${_("About Me")}
      <span class="little gray">
        ${_('240 character limit')}
      </span>
    </label>
    <div class="col-sm-10">
      <textarea name="me_short" class="form-control" id="me_short">${c.user.me_short if hasattr(c.user,'me_short') else ''}</textarea>
      ${error_field("TOO_LONG", "me_short")}
    </div>
  </div>

  <div class="form-group">    
    <label for="city" class="col-sm-2 control-label">
      ${_("Bio")}
      <span class="little gray">
        ${_('(Optional)')}
      </span>
    </label>
    <div class="col-sm-10">
      <textarea name="me_long" id="me_long" class="form-control" rows="5">${c.user.me_long if hasattr(c.user,'me_long') else ''}</textarea>
    </div>
  </div>

  <div class="form-group">    
    <label for="city" class="col-sm-2 control-label">
      ${_("Links to other resources")}
      <span class="little gray">
        ${_('(Optional)')}
      </span>
    </label>
    <div class="col-sm-10">
      <textarea name="me_links" id="me_links" class="form-control" rows="5">${c.user.me_links if hasattr(c.user,'me_links') else ''}</textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2 bottom-area">
      <button type="submit" class="btn btn-large btn-primary">${_("Save Profile")}</button>
      <span class="status"></span>
      ${error_field("RATELIMIT", "vdelay")}
      <a class="btn btn-link pull-right" href="/user/${c.user.name}/">View your profile</a>
    </div>
  </div>

</form>

<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/imgareaselect/scripts/jquery.imgareaselect.js"></script>
<script src="/static/js/lib/jquery.awesome-cropper.js"></script>

<%
  if c.user_is_loggedin and c.user.profile_photo_uploaded:
    image_source = "http://%s/u/%s/profile_photo.jpg" % (g.s3_user_files_host, c.user.name,)
  else:
    image_source = "http://%s/u/default_user/profile_photo.jpg" % (g.s3_user_files_host,)
  endif
%>

<script>
$(document).ready(function () {
  $('#profile_picture').awesomeCropper({
    image_source: "${image_source}",
    max_original_width: 350,
    width: 100,
    height: 100,
    debug: false,
    promptText: "${_('Please crop a recent photo to show your face. We like faces!')}",
    on_save: function(fileBlob) {

      $.post('/api/user_upload_permission.json', {filename: 'profile_photo.jpg', use_xhr: true,}, function (responseObj) {
        var fd = new FormData();

        fd.append('AWSAccessKeyId', responseObj.aws_access_key);
        fd.append('acl', 'public-read');
        fd.append('key', responseObj.key);
        fd.append('policy', responseObj.policy);
        fd.append('signature',responseObj.signature);
        fd.append('Content-Type', responseObj.content_type);
        fd.append('file', fileBlob);

        $.ajax({
          url: responseObj.upload_url,
          type: "POST",
          data: fd,
          processData: false,
          contentType: false,
          success: function(data, textStatus, jqXHR) {
            $.post('/api/profile_photo_uploaded.json', {}, function (responseObj) { } );
          },
          error: function(jqXHR, textStatus, errorMessage) {
            console.log(errorMessage);
          }
        });

      });
    }
  });
});
function post_this(form) {
    try {
        $(form).find(".error").not(".status").hide();
        $(form).find(".status").html('updating...').show();
        return simple_post_form(form, 'profupdate', {}, null, function(responseObj) {
          $(form).find(".status").html('profile has been updated').delay(2000).fadeOut();
        });
    } catch(e) {
        return false;
    }
};
</script>
